# IF

In [1]:
a=int(input("enter a:"))
b=int(input("enter b:"))

if a>b:
    print("a is great")
    print("b is small")

enter a:3
enter b:4

## if else

In [2]:
a=23
b=34
if a>b:
    print("a is great")
else:
    print("a is small")

a is small

In [3]:
age =int(input("enter the number:"))
if age>18:
    print("can vote")
else:
    print("cant vote")

enter the number:45
can vote

In [4]:
a=int(input("enter the number:"))
if a>0:
    print("positive number")
else:
    print("negative number")

enter the number:44
positive number

## if elif

In [5]:
a=int(input("enter the value a:"))
b=int(input("enter the value b:"))
c=int(input("enter the value c:"))

if a>b:
    print("a is crct")
elif b<c:
    print("b is crct:")
elif c>a:
    print("c is crct")

enter the value a:23
enter the value b:12
enter the value c:32
a is crct

In [6]:
x=int(input("enter the value n"))
if x==1:
    print("one")
elif x==2:
    print("two")
else:
    print("not in range")

enter the value n1
one

In [7]:
ch=input("enter the characters:")
if ch>='a' and ch<='z':
    print("lower case")
elif ch>='A' and ch<='Z':
    print("upper case")
elif ch>='0' and ch<='9':
    print("digits")
else:
    print("special characters")

enter the characters:a
lower case

In [8]:
a=int(input('enter the value a:'))
b=int(input('enter the value b:'))
c=int(input('enter the value c:'))
if a>b and a>c:
    print('a is big')
elif b>c:
    print('b is big')
else:
    print('c is great')

enter the value a:55
enter the value b:5
enter the value c:54
a is big

In [9]:
a=int(input("enter the value:"))
if a%2==0:
    print("even")
else:
    print("odd")

enter the value:4
even

In [10]:
age=int(input("enter age:"))
if age>25:
    print("can marry")
elif age<18:
    print("no rights to marry")
else:
    print("cant marry")

enter age:45
can marry

In [11]:
marks=int(input("enter the marks:"))
if marks>100:
    print("enter the crct value")
elif marks >=90 and marks<=100:#
    print("a grade")
elif marks<90 and marks>=80:
    print("b grade")
elif marks<80 and marks >=70:
    print("c grade")
else:
    print("dgrade")

enter the marks:77
c grade

## nested if

In [12]:
# uid = naveen
#psw= 12345

uid=input("enter the user name:")
if uid == 'naveen':
    print("true")
    psw=int(input("enter the password:"))
    if psw == 12345:
        print("crct password")
    else:
        print("wrong password")
else:
    print('false')

enter the user name:naveen
true
enter the password:12345
crct password

In [13]:
x=int(input("enter the number:"))
r=x%2
if r==0:
    print("even")
    if x>5:
        print("great")
    elif x<5:
        print("false")
    else:
        print('wrong')
else:
    print("false")

enter the number:7
false

## factorial

In [14]:
n=int(input("enter the number:"))
f=1
for i in range(1,n+1):
    f=f*i
print(f)

enter the number:4
24

In [15]:
n=input("enter the color:")
if n == 'green':
    print("green")
elif n == 'blue':
    print("blue")
else:
    print("not in the given list")

enter the color:green
green

## for loop

In [16]:
# prime number

n=int(input("enter the value:"))
c=0   #**
for i in range(1,n+1):
    if n%i==0:   # condition
        c=c+1
if c==2:
    print("prime number")
else:
    print("non prime number")

enter the value:9
non prime number

In [17]:
l1=[12,25,31,48,59,60,7,8,9]
sum=0
for i in l1:
    sum=sum+i
print('sum:',sum)

sum: 259

In [18]:
for i in range(1,7):
    for j in range(1,7-i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
#tables
num = 34
for i in range(1,11):
   print(num, 'x', i, '=', num*i)

34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

In [20]:
# fibonacci series

n=int(input("enter the number:"))
a=0
b=1
print(a,end=' ')
print(b,end=' ')
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c,end=' ')

enter the number:4
0 1 1 2

## while loop

In [21]:
n=int(input("enter the value:"))
i=1
s=0
while(i<=n):
    s=s+i
    i=i+1
print("sum:",s)

enter the value:4
sum: 10

In [22]:
n=int(input('enter the number'))
c=0    #important
i=1
while(i<=n):
    if n%i==0:
        c=c+1
    i=i+1
if c==2:
    print('prime')
else:
    print('non prime')

enter the number6
non prime

armstrong number:::the sum of cubes of individual digits is equal to that number (153)

In [23]:
#armstrong number
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit = temp%10
    sum=sum+digit**3
    temp//=10
if num==sum:
    print(num,'is an armstrong number')
else:
    print(num,"is not an armstrong number")

enter the number:7
7 is not an armstrong number

strong number:::Strong number is a number whose sum of all digits' factorial is equal to the number 'n'(145)

In [24]:
#strong number

n=int(input('enter the number:'))
temp=n
s=0
while(n>0):
    d=n%10
    f=1
    for i in range(1,d+1):
        f=f*i
    s=s+f  #increment
    n=n//10
if s==temp:
    print('strong number')
else:
    print('non strong')

enter the number:121
non strong

perfect number:::the sum of  positive factors of that number is equal to that number,excluding itself(ex=6)

In [25]:
#perfect number
n = int(input("Enter any number: "))
sum = 0
for i in range(1, n):
    if(n % i == 0):
        sum = sum + i
if (sum == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 22
The number is not a Perfect number!

In [26]:
i=1
while(i<=5):
    print('telesko')
    i=i+1
else:  #not necessary
    print('naveen')

telesko
telesko
telesko
telesko
telesko
naveen

In [27]:
#palindromr string
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string:121
The string is a palindrome

In [28]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:121
The number is palindrome!

## dictionary

In [29]:
d1={1:11,2:22,3:33,4:44,5:55}
for i in d1:
    print(i)

1
2
3
4
5

In [30]:
for i in d1.keys():
    print(i)

1
2
3
4
5

In [31]:
for i in d1.values():
    print(i)

11
22
33
44
55

In [32]:
for i in d1.items():
    print(i)

(1, 11)
(2, 22)
(3, 33)
(4, 44)
(5, 55)

In [33]:
for k,v in d1.items():
    print(k,":",v)

1 : 11
2 : 22
3 : 33
4 : 44
5 : 55

## break

In [34]:
for i in range(0,10):
    if i==5:
        break  # if i is  not equal it will print else ortherwise its skip the else part
    print(i)
else:
    print("this is else part")

0
1
2
3
4

## continue

In [35]:
for i in range(0,10):
    if i==5:
        continue # it skip only the equal part i.e =5

    print(i)
else:
    print("this is else part")
print("task completed")

0
1
2
3
4
6
7
8
9
this is else part
task completed

## pass

In [36]:
for i in range(0,10):
    if i==5:
        pass # to fill the empty block 
    print(i)

0
1
2
3
4
5
6
7
8
9

### local variables:::declares inside function

In [38]:
def sample(a,b):
    print(a)
    print(b)
    
def sample1():  # it does not execute as it contains same  local values
    print(a)
    print(b)    


a=int(input("enter a:"))
b=int(input("enter b:"))
sample(a,b)
#sample1(x,y)

enter a:2
enter b:3
2
3

### global variable:::declares outside function

In [39]:
def sample(a,b):
    print(a)
    print(b)
    
    print("x:",x)
    print("y:",y)

x=int(input("enter x:"))
y=int(input("enter y:"))    
sample(x,y)

enter x:2
enter y:3
2
3
x: 2
y: 3

In [42]:
a=50 #global variable
def show():
    global a #we can declare any local value as a aglobal
    print(a)
    a=45  #local variable
    print(a)
show()
print("a:",a)

50
45
a: 45

In [44]:
x=200 #global variable
def m1():
    t=243  #local variable
    print(x,t)
def m2():
    print(x)
    print(t) #local it wont print
m1()
m2()

200 243
200

NameError: name 't' is not defined

In [45]:
x=200  #global variable
def m1():
    global t  # t is local convetred  to global
    t=243  #local variable
    print(x,t)
def m2():
    print(x)
    print(t)
m1()
m2()

200 243
200
243

####  lambda::: it is a anonomous function i.e with out a function can have no of arguments but only one expression using the function

In [49]:
def square(a):
    return(a*a)
x=square(5)
print(x)

25

In [52]:
# using lambda
f=lambda a:a*a
x=f(5)
print(x)

25

In [53]:
a=lambda q,w,e,r,t,y:(q+w+e+r+t+y)
x=a(11,12,123,14,15,56)
print(x)

231

In [54]:
#area of a circle= 22/7*r2

s=lambda r:(22/7*(r*r))
x=s(5)
print(x)

78.57142857142857

In [58]:
s=lambda x:(2*x*x-5*x+7//2)
x=int(input("enter the number:"))
print(s(x))

enter the number:34
2145

## functions

In [1]:
# function syntax:::
def function name(agrements,parameters):
    #code
function_name

SyntaxError: invalid syntax (Temp/ipykernel_12188/1785300608.py, line 2)

1.without arguments and without return
2.with arguments and without return
3.without arguments and with return
4.with arguments and with return

In [3]:
# 1.without arguments and without return

def sample():
    print("fun1")
    print("fun2")
print("fun3")
sample() # function call

fun3
fun1
fun2

In [4]:
#function integers with arguments and without return

def sample(a,b):
    print("addition:",a+b)
    print("subtraction:",a-b)
    print("multiplication:",a*b)
    print("division:",a/b)
    print("percentage:",a%b)
    
x=int(input("enter x:"))
y=int(input("enter y:"))
sample(x,y)

enter x:23
enter y:45
addition: 68
subtraction: -22
multiplication: 1035
division: 0.5111111111111111
percentage: 23

In [5]:
def names(first_name,middle_name,last_name):
    print('names:',first_name+' '+middle_name+' '+last_name)
    
#print("main program")
first_name=input("enter the first name")
middle_name=input("enter the middle name")
last_name=input("enter the last name")
names(first_name,middle_name,last_name) # function call

enter the first namenaveen
enter the middle namenani
enter the last namekumar
names: naveen nani kumar

In [8]:
# function with arguments and with return
def sample(a,b):
    return(a+b)

x=int(input("enter x:"))
y=int(input("enter y:"))
#print("sum:",sample(x,y)) 
sample(x,y)

enter x:4
enter y:5

9

In [9]:
def sample(a,b):
    return(a+b)

x=int(input("enter x:"))
y=int(input("enter y:"))
s=sample(x,y)
print("sum:",s)

enter x:25
enter y:66
sum: 91

In [13]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

n=int(input("enter the number:"))
f=fact(n)#as it returnd the value so we have to take a variable to store it
print("fact:",f)

enter the number:4
fact: 24

In [14]:
#with arguments and without return

def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print("fact",f)
    
n=int(input("enter the number:"))
fact(n)

enter the number:4
fact 24

In [16]:
#without arguments and with return
def fact():
    n=int(input("enter the number:"))
    f=1
    for i in range(1,n+1):
        f=f*i
    return (f)
    
f=fact()
print("fact:",f)

enter the number:5
fact: 120

In [17]:
#without arguments and without return
def fact():
    n=int(input("enter the number:"))
    f=1
    for i in range(1,n+1):
        f=f*i
    print("fact:",f)

f=fact()

enter the number:4
fact: 24

# nested function

In [18]:
def display():
    print("this is display function")
    
    def show():
        print("this is shoe function")
    show()  #call the function
    
display()  # call the function

this is display function
this is shoe function

In [20]:
#function as a arguments

def display(show):
    print("this is display")
def show():
    print("this is show")

display(show)

this is display

In [21]:
#function return other function
def display(sh):
    print("display function")
    return sh

def show():
    return("show function")
r=display(show)
print(r)

display function
<function show at 0x000002090821BC10>

 Types of arguments
 
1.positional or relational arguments
2.keyword arguments
3.default arguments
4.variable length arguments
5.keyword variable length  arguments

In [26]:
#1.positional arguments

def sample(sno,name,salary):
    print("sno:",sno)
    print("name:",name)
    print("salaty:",salary)
    
sample(1,'naveen',10000)
sample(2,'ravi',20000)
sample('ravi',3,7888)

sno: 1
name: naveen
salaty: 10000
sno: 2
name: ravi
salaty: 20000
sno: ravi
name: 3
salaty: 7888

In [27]:
# 2.keyword arguments

def sample(sno,name,salary):
    print("sno:",sno)
    print("name:",name)
    print("salaty:",salary)
    
sample(1,'ranveer',20000)
sample(name='naveen', sno=3,salary=45000)  #keyword

sno: 1
name: ranveer
salaty: 20000
sno: 3
name: naveen
salaty: 45000

In [28]:
#3.default arguments
def sample(sno,name,salary=20000):
    print("sno:",sno)
    print("name:",name)
    print("salaty:",salary)
    
sample(101,'sanjay')

sno: 101
name: sanjay
salaty: 20000

In [33]:
def sum(a,b=0,c=0,d=0):
    print(a*b*c*d)
    print(a+b+c+d) 
    print(a-b-c-d)
    
sum(1,2,3,4)
sum(67,88)
sum(23,56,87,66)

24
10
-8
0
155
-21
7395696
232
-186

In [36]:
#4.variable length arguments [assume as list]
def add(*a):
    s=0
    for i in a:
        s=s+i
        print('sum',s)
    print(a)
    print(type(a))
    
add(1,2,3,4,5)
add(11,12,13,14)

sum 1
sum 3
sum 6
sum 10
sum 15
(1, 2, 3, 4, 5)
<class 'tuple'>
sum 11
sum 23
sum 36
sum 50
(11, 12, 13, 14)
<class 'tuple'>

In [38]:
#5.keyword variable length  arguments
#  **a=kwargs  assume as a dictionary

def sample(**a):
    for k,v in a.items():
        print(k,':',v)
    
sample(a=12,b=34,c=55,d=32)

a : 12
b : 34
c : 55
d : 32